
/* variables */
:root {
  --color-theme: #2b94c6;
}
/* end variables */

/* font-family: "LatoRegular"; */
@font-face {
  font-family: "LatoRegular";
  src: url("../fonts/LatoRegular/LatoRegular.eot");
  src: url("../fonts/LatoRegular/LatoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoRegular/LatoRegular.woff") format("woff"), url("../fonts/LatoRegular/LatoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "LatoBold"; */
@font-face {
  font-family: "LatoBold";
  src: url("../fonts/LatoBold/LatoBold.eot");
  src: url("../fonts/LatoBold/LatoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoBold/LatoBold.woff") format("woff"), url("../fonts/LatoBold/LatoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "LatoItalic"; */
@font-face {
  font-family: "LatoItalic";
  src: url("../fonts/LatoItalic/LatoItalic.eot");
  src: url("../fonts/LatoItalic/LatoItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoItalic/LatoItalic.woff") format("woff"), url("../fonts/LatoItalic/LatoItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "LatoLight"; */
@font-face {
  font-family: "LatoLight";
  src: url("../fonts/LatoLight/LatoLight.eot");
  src: url("../fonts/LatoLight/LatoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoLight/LatoLight.woff") format("woff"), url("../fonts/LatoLight/LatoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "LatoBoldItalic"; */
@font-face {
  font-family: "LatoBoldItalic";
  src: url("../fonts/LatoBoldItalic/LatoBoldItalic.eot");
  src: url("../fonts/LatoBoldItalic/LatoBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoBoldItalic/LatoBoldItalic.woff") format("woff"), url("../fonts/LatoBoldItalic/LatoBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "LatoLightItalic"; */
@font-face {
  font-family: "LatoLightItalic";
  src: url("../fonts/LatoLightItalic/LatoLightItalic.eot");
  src: url("../fonts/LatoLightItalic/LatoLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoLightItalic/LatoLightItalic.woff") format("woff"), url("../fonts/LatoLightItalic/LatoLightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "LatoBold"; */
@font-face {
  font-family: "LatoBlack";
  src: url("../fonts/Lato-Black/Lato-Black.eot");
  src: url("../fonts/Lato-Black/Lato-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Black/Lato-Black.woff") format("woff"), url("../fonts/Lato-Black/Lato-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "Roboto"; */
@font-face {
  font-family: "Roboto";
  src: url("/src/fonts/Roboto.ttf");  
  font-style: normal;
  font-weight: normal;
}

/* useful classes */
.text-center {text-align: center;}
.text-justify {text-align: justify;}
.text-right {text-align: right;}
.text-upper {text-transform: uppercase;}

.flex-arround {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
}

.flex-between {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}

.float-left {float: left;}
.float-right {float: right;}

.img-wrapper {
	display: inline-block;
  position: relative;
}
/* end useful classes */

.text-bold {
  font-weight: 700;
}

.text-size-30 {
  font-size: 30px;
}

input {
  height: 40px;
  width: 420px;
  padding-left: 10px;
  font-size: 12px;
/*  font-family: "LatoRegular";*/
  border: 1px solid #7d7d7d;
}

input[type="checkbox"] {
  display: inline-block;
  height: 12px;
  margin-top: 0;
  width: 12px;
}

.text-grey {
  color: #7d7d7d;
  font-family: "LatoRegular";
}

.text-border {
  font-weight: 700;
  font-size: 36px;
  border: solid 3px black;
  padding: 6px;
  display: inline-block;
  margin-top: 10px;
}

.text-highlighted {
  color: var(--color-theme);
}

.text-accent {
  background: white;
  color: black;
}

.text-header {
  font-family: "LatoBlack";
  font-size: 24px;
  color: var(--color-theme);
  font-weight: 700;
  text-align: center;
}

.box-change {
  display: block;
  font-size: 12px;
  line-height: 1;
  margin-top: 10px;
}

.box-change input[type="checkbox"] {
  margin-right: 5px;
}

.button {
  background-size: cover;
  background: url("/src/img/bg-btn_orange.png") repeat-x left top;
  border: none;
  border-radius: 4px;
  color: white;
  display: block;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  line-height: 1;
  margin: 0 auto;
  margin-top: 15px;  
  padding: 16px 18px 15px;
  text-align: center;
  text-transform: uppercase;
  width: 116px;  
}

.button:hover {
  color: white;
  text-decoration: none;
}

.button:active {
  color: white;
  text-decoration: none;
}

a:hover,
button:hover {
/*  background: url("../img/btn-bg-hover.png") repeat-x;*/
  background-size: contain;
}

body {
/*  font-family: "LatoRegular";*/
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #000;
/*  color: white;*/
  min-width: 1350px;
  max-width: 1920px;
  width: auto !important;
  height: 100%;
}

div {
  vertical-align: top;
}

.container {
  position: relative;
  width: 1266px;
}

#header{
  background: url("../img/bg-header_truck.jpg") no-repeat 0 0;
  height: 720px;
  position: relative;
}

#header:after {
  content: '';
  bottom: 0;
  display: block;
  position: absolute;
  background-position: center 60px;
  background-repeat: no-repeat;
  background-image: url(/src/img/bg-header-bottom.png);
  height: 260px;
  width: 100%;
}

@media screen and (max-width: 1500px) {
  #header {
    background-position: bottom center;
  }
}

#header .logo {
  background: url("../img/bg-header-logo.png") no-repeat 0 0;
  display: block;
  height: 51px;
  padding-left: 326px;
  position: relative;
  top: 6px;
  width: 1040px;
}

.logo__slogan {
  color: #ffffff;
  display: inline-block;
  font-family: Lato;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 0;
  margin-left: 24px;
  margin-top: 10px;
  vertical-align: top;
  width: 210px;
}

.logo__img {
  padding-top: 4px;
  vertical-align: top;
}

#header .address {
  color: #7d7d7d;
  font-family: "LatoRegular";
  font-size: 14px;
  display: inline-block;
  float: left;
  margin-top: 16px;
  margin-left: 4px;
}

#header .address .address-city {
  color: white;
  font-family: "LatoRegular";
}

#header .number {
  display: inline-block;
  margin-top: 21px;
}

#header .number .first-num {
  color: var(--color-theme);
  font-size: 20px;
  font-family: "LatoRegular";
  margin-left: 20px;
}

#header .number .other-num {
  color: #ffffff;
  font-family: "Lato";  
  font-size: 33px;
  font-weight: 700;
  letter-spacing: -0.4px;
  line-height: 48px;
  text-transform: uppercase;
}

#header .number .call-btn {
  height: 50px;
  width: 225px;
  background-image: url(/src/img/bg-btn_orange.png);
  background-repeat: repeat-x;
  border-radius: 4px;
  display: block;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-weight: 600;
  padding-top: 5px;
  margin-top: 12px;
  margin-left: 13px;
}

#header .number .call-btn span {
  display: block;
}

#header .number .call-btn:hover {
/*  background: url("../img/btn-bg-hover.png") repeat-x;*/
}

#header .number .call-buttom-popup {
  min-height: 358px;
  width: 370px;
  background: #ebebeb;
  border: solid 5px #b7b7b7;
  padding-top: 80px;
  position: absolute;
  top: -16px;
  left: 28%;
  z-index: 1;
  color: black;
}

#header .number .call-buttom-popup .btm-pop-h {
  color: var(--color-theme);
  text-align: center;
  font-family: "LatoBlack";
  font-size: 18px;
  font-weight: 700;
}

#header .number .call-buttom-popup .pop-inf {
  color: black;
  font-family: "LatoRegular";
  font-size: 18px;
  text-align: center;
}

#header .number .call-buttom-popup .pop-input-wrapper {
  margin: 20px 0 22px;
  text-align: center;
}

#header .number .call-buttom-popup .pop-input-wrapper .popup {
  width: 250px;
  margin-bottom: 10px;
}

#header .number .call-buttom-popup .popup-btn {
  height: 50px;
  width: 250px;
  margin-left: 50px;
  padding-top: 15px;
}

#header .number .call-buttom-popup .popup-hint {
  font-family: "LatoRegular";
  font-size: 12px;
  color: black;
  display: inline-block;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  display: block;
}

.header-right {
  display: block;
  position: absolute;
  right: 55px;
  text-align: right;
  top: -66px;
  width: 620px;
  z-index: 1;
}

.header-right__economy{
  font-family: Roboto, sans-serif;
  font-size: 36px;
  margin-top: 31px;
  width: 615px;
}

.header-right__economy .review-inf {
  background: white;
  color: #000000;
  display: inline-block;  
  font-weight: 700;
  height: 60px;
  line-height: 60px;
  padding-right: 5px;
  text-transform: uppercase;
  width: 100%;
}

.header-right__economy .review-inf-service {
  color: #fff;
  display: block;
  height: 177px;
  line-height: 50px;
  padding-left: 50px;
  padding-right: 10px;
  position: relative;
  text-align: right;
  top: -8px;
}

#header .ic-list {
  margin-top: 385px;
  padding: 0 120px;
  position: relative;
  z-index: 8;
}

#header .ic-list__item {
  display: inline-block;
  width: 230px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.25;
  text-align: center;
  padding-top: 155px;
  background-position: center top;
  background-repeat: no-repeat;  
}

.ic-list__item_border {
	background-image: url(/src/img/icon-cloud.png);
}

.ic-list__item_guarantee {
	background-image: url(/src/img/icon-shiled-ok.png);
}

.ic-list__item_manager {
	background-image: url(/src/img/icon-manager.png);
}

.block-advantages {
  background: #ffffff;
  border-top: solid 11px #b7b7b7;
  color: black;
  height: 100%;
  padding-bottom: 105px;
}

.block-advantages .container {}

.block-advantages__advantages-container {
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: -webkit-inline-flex;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 1.2;
  padding-left: 67px;
  padding-top: 95px;
  width: 610px;
}

.block-advantages .left-block-position {
/*  max-width: 590px;*/
/*  float: right;*/
}

.block-advantages .block-advantages-h {
  height: 100%;
  background: var(--color-theme);
  font-family: "LatoBlack";
  font-size: 32px;
  font-weight: 700;
  padding-left: 8px;
  padding-top: 7px;
  margin-top: 40px;
  color: white;
  padding-bottom: 5px;
}

.block-advantages .block-advantages-cost {
  color: black;
  font-family: "LatoRegular";
  font-size: 32px;
  margin: 7px 0 0 5px;
}

.block-advantages .block-advantages-present {
  color: black;
  font-family: "LatoRegular";
  font-size: 31px;
  line-height: 0;
  margin: 0px 0 0 8px;
}

.block-advantages span.prize {
  line-height: 0.9;
  margin-top: -6px;
  margin-left: 6px;
}

.block-advantages .service-icon-bottom {
  margin-top: 20px;
}

.block-advantages .block-advantages-info {
  color: #000000;
  display: inline-block;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  padding-top: 120px;
  margin-bottom: 120px;
  width: 260px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.block-advantages-info_cargo {
  background-image: url(/src/img/icon-package.png);  
}
.block-advantages-info_carry {
  background-image: url(/src/img/icon-box.png);  
}
.block-advantages-info_dialog {
  background-image: url(/src/img/icon-questions.png);
}
.block-advantages-info_timer {
  background-image: url(/src/img/icon-timer.png);
}


.block-advantages .form-container {
  margin-top: -10px;
  display: inline-block;
  float: right;
}

.block-advantages .registration-form {
  background: #ebebeb;
  border: solid 5px #B7B7B8;
  height: 697px;
  margin-right: 49px;
  width: 533px;
}

.block-advantages .registration-form .form-header {
  margin-top: 45px;
  margin-left: 10px;
}

.block-advantages .form-hint {
  color: #000000;
  font-family: Roboto;  
  font-size: 18px;
  margin: 0 auto; 
  text-align: center;
  width: 440px;
}

.block-advantages .form-input {
  margin: 11px 0 0 52px;
}

.block-advantages .box-change {
  margin: 0 auto;
  margin-bottom: 15px;
  margin-top: 10px;
	width: 420px;
}

.block-advantages .dropdown {
  margin: 10px 0 0 35px;
}

.block-advantages .upload-wrapper {
  margin: 12px 0 0 135px;
  font-size: 13px;
}

.block-advantages .upload-wrapper .upload-icon {
  background: url("../img/service-icon-form.png");
  height: 29px;
  width: 25px;
  display: inline-block;
}

.block-advantages .upload-wrapper .upload {
  color: black;
  text-decoration: underline;
}

.block-advantages .upload-input {
  display: none;
}

.block-advantages .account-btn {
background-image: url(/src/img/bg-btn_orange.png);
background-repeat: repeat-x;
box-shadow: inset 0 0 5px rgba(224, 146, 46, 0.75);
  color: #ffffff;
  display: block;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  height: 49px;
  margin-top: 15px;
  margin: 0 auto;
  text-transform: uppercase;
  width: 285px;  
}

.block-advantages .select-wrapper {
  margin: 8px 0 0 50px;
}

.block-advantages .select-wrapper select#soflow,
.block-advantages .select-wrapper select#soflow2,
.block-advantages .select-wrapper select#soflow-color {
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-image: url("../img/select-element.png"), -webkit-linear-gradient(#fafafa, #ffffff 100%, #e5e5e5);
  background-position: 98% center;
  background-repeat: no-repeat;
  border: 1px solid #7d7d7d;
  font-size: 12px;
  font-family: "LatoRegular";
  color: black;
  overflow: hidden;
  padding: 11px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 204px;
  margin-left: 3px;
}

.block-advantages .select-wrapper select#soflow-color {
  color: #fff;
  background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#779126, #779126 40%, #779126);
  background-color: #779126;
  border-radius: 20px;
  padding-left: 15px;
}

.block-features {
  background: url(/src/img/bg-howwork.png) no-repeat center top;
  color: black;
  height: 710px;
  margin-top: 50px;
  padding-top: 45px;
  position: relative;
}

.block-features:after {
  content: '';
  background-image: url(/src/img/bg-consultation-block.png);
  background-position: center top;
  background-repeat: no-repeat;
  bottom: -30px;
  display: block;
  height: 152px;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.block-features .features-header {  
  border: 5px solid var(--color-theme);
  border-bottom: none;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 400;
  height: 72px;
  height: 130px;
  margin: 0 auto; 
  padding-top: 20px;
  text-align: center;
  width: 557px;
}

.block-features .features-header span {
  display: block;
  margin-top: 5px;
}

.block-features .features-inf {
  font-family: "LatoRegular";
  font-size: 18px;
  font-weight: 700;
  margin-top: 30px;
  float: left;
  color: white;
  display: inline-block;
}

.block-features .info-block-wrapper {
  text-align: center;
}

.block-features .first-border {
  display: block;
  height: 40px;
  width: 557px;
  border-left: 5px solid rgba(128, 128, 128, 0.75);
  border-right: 5px solid rgba(128, 128, 128, 0.75);
  margin: 0 auto;
}

.block-features .second-border {
  isplay: inline-block;
  height: 50px;
  width: 557px;
  border-left: 5px solid #b7b7b7;
  border-right: 5px solid #b7b7b7;
  border-bottom: 5px solid #b7b7b7;
  margin: 0 auto;
  margin-top: 85px;
}

.block-features .features-icon {
  background: url("../img/features-page-sub-sprite.png") no-repeat top left;
  height: 87px;
  width: 88px;
  display: inline-block;
  text-align: left;
}

.block-features .features-phone-icon {
  margin-left: 15px;
  margin-top: 15px;
}

.block-features .info-block-wrapper-left {
  display: inline-block;
  margin-left: 94px;
}

@media screen and (max-width: 1500px) {
  .block-features .info-block-wrapper-left {
    margin-left: 14px;
  }
}

.block-features .features-info {
  background-position: right 24px;
  background-repeat: no-repeat;
  color: white;
  display: inline-block;
  font-size: 18px;
  line-height: 1.3;
  padding-top: 38px;
  padding-right: 116px;
  text-align: left;
  padding-bottom: 5px;
}

.block-features .features-info_phone {
  background-image: url(/src//img/icon-features-phone.png);
  width: 330px;  
}
.block-features .features-info_email {
  background-image: url(/src//img/icon-features-mail.png);
  margin-left: 70px;
  width: 490px;
}

.block-features .info-border {
  background-color: var(--color-theme);
  color: #fff;
  display: block;
  font-size: 22px;
  line-height: 1;
  margin: 0 auto;
  margin-top: 25px;  
  padding: 15px 23px;
  position: relative;
  text-align: center;
  width: 482px;
  z-index: 2;
}

.block-features .info-border:after {
  content: '';
  border: 5px solid var(--color-theme);
  bottom: 24px;
  display: inline-block;
  height: 50px;
  left: calc(50% - 280px);
  position: absolute;
  width: 557px;
  border-top: none;
  z-index: -1;
}

.block-features .features-lists {
	margin-top: 20px;
  padding-left: 130px;
}

.features-li {
  background-position: 0 center;
  background-repeat: no-repeat;
  color: #ffffff;
  display: inline-block;
  font-family: Roboto;
  font-size: 14px;
  height: 77px;
  line-height: 1.2;
  padding-left: 65px;
  padding-top: 25px;
  position: relative;
  vertical-align: top;
  width: 100px;
}

.features-li_border {
  background-image: url(/src/img/bg-features_border.png);
  margin-right: -11px;
  padding-right: 40px;
  padding-top: 14px;
  width: 252px;
}

.features-li_cost {
  background-image: url(/src/img/bg-features_cost.png);  
  margin-right: -25px;
  padding-right: 70px;
  width: 260px;
}

.features-li_docs {
  background-image: url(/src/img/bg-features_docs.png);
  padding-right: 40px;
  padding-top: 14px;
  width: 364px;
}

.features-li_time {
  background-image: url(/src/img/bg-features_time.png);
  margin-right: -37px;
  padding-right: 70px;
  width: 275px;
}

.block-features h3 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 55px;  
  text-align: center;
  text-transform: uppercase;  
}

.block-features .features__bonus-list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 40px;  
  padding-left: 0;
  position: relative;
  width: 1120px;
  z-index: 9;
}

.block-features .features__bonus-li {
  display: inline-block;
}

.block-features .features__bonus-li .big-num {
  color: var(--color-theme);  
  display: inline-block;
  font-size: 36px;
  margin-right: 3px;
}

.block-features .features__bonus-li .features__bonus-text {
  display: inline-block;
  font-size: 14px;
  line-height: 1.25;
  padding-top: 9px; 
}

.block-consultation {
  background: #e1e1e1;
  border-bottom: solid 9px #b7b7b7;
  margin-top: -80px;
  padding-top: 150px;
  position: relative;
}

.block-consultation h2 {  
  font-size: 36px;
  line-height: 1;
  margin: 0 auto;
  text-align: center;
  width: 690px;
}

.block-consultation h2 span {
  background-color: var(--color-theme);
  
  color: #fff;
  display: block;
  height: 60px;
  line-height: 60px;
  margin-bottom: 5px;
  text-transform: uppercase;
  width: 690px;
}

.block-consultation .consultation-popup {
  height: 448px;
  /* min-width: 233px; */
  /* width: 100%; */
  display: inline-block;
  background: #ebebeb;
  border: solid 5px #b7b7b7;
  padding-top: 80px;
  position: absolute;
  top: -10%;
  left: -10px;
  color: black;
  text-align: center;
  z-index: 998;
}

.block-consultation .consultation-popup .btm-pop-h {
  color: var(--color-theme);
  text-align: center;
  font-family: "LatoBlack";
  font-size: 18px;
  font-weight: 700;
}

.block-consultation .consultation-popup .pop-inf {
  color: black;
  font-family: "LatoRegular";
  font-size: 18px;
  text-align: center;
}

.block-consultation .consultation-popup .pop-input-wrapper {
  margin: auto;
}

.block-consultation .consultation-popup .pop-input-wrapper .popup {
  width: 250px;
  margin-bottom: 10px;
}

.block-consultation .consultation-popup .popup-btn {
  height: 50px;
  width: 250px;
  margin-left: 50px;
}

.block-consultation .consultation-popup .popup-hint {
  font-family: "LatoRegular";
  font-size: 12px;
  color: black;
  display: inline-block;
  font-weight: 500;
  line-height: 1;
  text-align: center;
}

.block-consultation .block-consultation-coment {
  font-family: "LatoRegular";
  font-size: 34px;
  color: black;
  margin-left: 25px;
}

.block-consultation .block-consultation__features {
  border: 1px solid #000;
  font-size: 18px;
  line-height: 1;
  margin: 0 auto;
  margin-bottom: 35px;
  margin-top: 30px;  
  padding: 14px 18px 15px;
  text-align: center;
  width: 684px;
}

.block-consultation .info-box-wrapper {
  margin-top: 23px;
  padding-top: 0px;
}

.block-consultation__box-cost {
  border: 3px solid #c2c2c2;
  height: auto;
  padding-bottom: 30px;
  width: 250px;
}

.block-consultation .info-box-wrapper .block-consultation__info-box {  
  display: inline-block;
  padding-top: 80px;
  position: relative;
  background-position: center 13px;
  background-repeat: no-repeat;
}

.block-consultation .info-box-wrapper .block-consultation__info-box_1 {  
  background-image: url(/src/img/icon-transport_avia.png);
  background-position: center top;
}

.block-consultation__info-box_2 {
  background-image: url(/src/img/icon-transport_caravia.png);  
}

.block-consultation__info-box_3 {
  background-image: url(/src/img/icon-transport_seatra.png);  
}

.block-consultation__info-box_4 {
  background-image: url(/src/img/icon-transport_seatra.png);  
}

.block-consultation__info-box_5 {
  background-image: url(/src/img/icon-transport_seacar.png);  
}

.block-consultation__info-box h3 {
  color: var(--color-theme);
  display: block;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 23px;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
}

.block-consultation__way {
  display: block;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
}

.block-consultation__way:nth-child(2) {
  margin-bottom: 10px;
}

.block-consultation__variant {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.block-profit {
  background: url("../img/profit-page-bg.png") no-repeat bottom center;
  border-bottom: 5px solid #c60606;
  background-size: cover;
  padding-top: 35px;
}

.block-profit > .container {
  position: relative;
  width: 1400px;
}


.block-profit h2 {
  color: #ffffff;
  font-size: 36px;
  text-align: center;
}

.block-profit .block-profit__highlighted {
  background: var(--color-theme);
  color: #ffffff;
  display: inline-block;
  font-size: 32px;
  font-weight: 700;
  height: 60px;
  line-height: 60px;
  padding: 0 15px;
  text-transform: uppercase;
}

.block-profit .list-wrapper {
  margin: 0 auto;
  margin-top: 50px;
}

.block-profit .list-wrapper .profit-list {
  list-style-type: none;
  margin: 0 auto;
  padding-left: 25px;
  width: 1180px;
}

.block-profit .list-wrapper .profit-list .profit-li {
  background-image: url(/src/img/icon-ok_wblue.png);
  background-repeat: no-repeat; 
  display: inline-block;
  height: 90px;
  list-style-type: none;
  margin-bottom: 50px;
  margin-left: 10px;
  padding-left: 115px;
  position: relative;
  width: 370px;
}

.block-profit .list-wrapper .profit-list .profit-li .profit-info {
  color: #ffffff;
  display: inline-block;
  font-size: 18px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  vertical-align: top;
  width: 255px;
}

.block-profit .profit-sub {
  background-image: url(/src/img/bg-profit-sub.png);
  background-repeat: no-repeat;
  background-position: 0 0;  
}

.block-profit .profit-sub .container {
  background-image: url(/src/img/bg-profit-sub-container.png);
  background-repeat: no-repeat;
  background-position: center 55px;
  width: 1190px;
}

.block-profit .profit-sub__header {
  font-size: 36px;
  font-weight: 700;
  margin-left: 90px;
  margin-top: 37px;
}

.block-profit .mag-block {
  background: rgba(207, 208, 209, 0.8) no-repeat top left;
  width: 10%;
  margin-top: 2px;
  height: 419px;
}

.block-profit .profit-sub-first-col {
  display: inline-block;
  width: 840px;
}

.block-profit .no-risk-list {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-left: 10px;
  margin-top: 60px;
  padding-bottom: 40px;
  padding: 0;
  width: 840px;
}

.block-profit .no-risk-li {
  background-position: center top;
  background-repeat: no-repeat;
  display: inline-block;
  font-size: 18px;
  line-height: 1.25;
  list-style-type: none;
  padding-top: 105px;
  text-align: center;
  width: 240px;
}

.block-profit .no-risk-li:nth-child(1) {
  background-image: url(/src/img/icon-search-mistakes.png);
}

.block-profit .no-risk-li:nth-child(2) {
  background-image: url(/src/img/icon-protect-lock.png);
}

.block-profit .no-risk-li:nth-child(3) {
  background-image: url(/src/img/icon-shield-check.png);
}


.block-profit .profit-sub-second-col {
  display: inline-block;
  margin-left: 90px;
  width: 225px;
}

.block-profit .profit-sub-second-col h3 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  margin-top: -5px;
}

.block-profit .profit-bonus-list {  
  padding: 0;
}

.block-profit .profit-bonus-li {
  background-image: url(/src/img/icon-ok_wblue.png);
  background-position: left center;  
  background-repeat: no-repeat;
  -webkit-background-size: 39px;
  background-size: 39px;
  color: #ffffff;
  font-size: 18px;
  min-height: 40px;
  list-style-type: none;
  padding-left: 45px;
}

.block-profit .profit-bonus-li + .profit-bonus-li {
  margin-top: 10px;
}

.block-profit .profit-bonus-li .profit-bonus-inf {
  font-family: "LatoRegular";
  font-size: 18px;
  display: inline-block;
  vertical-align: top;
  padding-top: 5px;
  margin-left: 5px;
}

.block-profit .profit-bonus-li .profit-bonus-icon {
  background: url("../img/ok-icons-sm.png");
  height: 37px;
  width: 37px;
  display: inline-block;
}

.block-contacts {
  background: #d8d3d0;
}

.block-contacts .block-contacts__header {
  background-color: #d8d3d0;
  background-image: url(/src/img/bg-contacts-header.png);
  background-repeat: no-repeat;
  background-position: center top;
  min-height: 214px;
}

.block-contacts .block-contacts__header .container {
  padding-left: 50px;
  width: 1190px;  
}

.block-contacts .block-contacts__header-left {
  display: inline-block;
  margin-top: 45px;
  width: 760px;
}

.block-contacts .block-contacts__header .control {
  display: inline-block;  
  font-size: 24px;
  font-weight: 700;
}

.block-contacts .block-contacts__header .control-com {  
  font-size: 24px;
  line-height: 1.5;
}

.block-contacts .block-contacts__header .control-com span {  
  border: 2px solid #000000;
  display: inline-block;
  height: 38px;
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
  vertical-align: top;
  width: 163px;
}

.block-contacts .block-contacts__header .cont {
  font-size: 24px;
  margin: 0;
  padding: 3px;
  font-weight: 700;
  border: 2px solid #000000;
}

.block-contacts .block-contacts__header-right {
  display: inline-block;
  margin-left: 45px;
  padding-top: 28px;
  width: 330px;
}

.block-contacts .block-contacts__header-right .applicationButton {
  background-image: url(/src//img/bg-btn_orange.png);
  background-position: left center;
  background-repeat: repeat-x;
  border-radius: 4px;
  color: #ffffff;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  height: 59px;
  line-height: 59px;
  text-align: center;
  text-transform: uppercase;
  width: 252px;
}



.block-contacts .block-contacts__header .btn-box a {
  display: inline-block;
  padding-bottom: 30px;
  text-transform: uppercase;
}

.block-contacts .block-contacts__header .cost-btn {
  height: 70px;
  width: 320px;
  padding-top: 26px;
  cursor: pointer;
  border-right: 5px;
  font-family: "LatoBlack";
  font-size: 16px;
}

.block-contacts .block-contacts__header .btn-hint {
  font-size: 12px;
  font-style: italic;
  line-height: 1.2;
  margin-top: 26px;
}

.block-contacts .consultations {  
  display: inline-block;
  font-size: 24px;
  line-height: 1.25;
  margin-left: 88px; 
  margin-top: 45px;
  padding-left: 10px;
  width: 440px;
}

.block-contacts .consultations .question {
  background: var(--color-theme);
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  height: 59px;
  line-height: 59px;
  margin-bottom: 5px;
  padding-left: 10px;
  text-transform: uppercase;
}

.block-contacts .consultations p {
  padding-left: 10px;
}

.block-contacts-mid__form-container {
  display: inline-block;
  margin-bottom: 15px;
  margin-left: 70px;
  width: 600px;
}

.block-contacts .second-form {
  background: #ebebeb;
  border: 5px solid #7b7b7b;
  height: 210px;
  margin-top: 5px;  
  padding-left: 25px;
  padding-right: 25px;
  width: 598px;
}

.block-contacts .second-form .second-form-h {
  color: var(--color-theme);
  font-size: 18px;
  font-weight: 700;  
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
}

.block-contacts .second-form .inf {
  font-size: 18px;
  line-height: 1;
  margin-bottom: 11px;
  text-align: center;
}

.block-contacts .second-form .form-input {
  padding-left: 10px;
  width: 250px;
  height: 40px;
  border: 1px solid #7d7d7d;
}

.block-contacts .second-form .form-input + .form-input {
  margin-left: 28px;
}

.block-contacts .second-form .hint {
  display: inline-block;
  font-size: 12px;
  line-height: 1.25;
  margin-top: 20px;
  width: 230px;
}

.block-contacts .second-form .form-btn {
  color: #ffffff;
  display: inline-block;
  font-weight: 700;
  height: 40px;
  line-height: 40px;
  margin-left: 50px;
  margin-top: 10px;
  padding: 0;
  text-transform: uppercase;
  vertical-align: top;
  width: 250px;
}

.block-contacts .second-form .form-btn:hover {
  color: white;
  text-decoration: none;
}

.block-contacts .second-form .form-btn:active {
  color: white;
  text-decoration: none;
}

#yamap {
  height: 420px;
  width: 100%;
}

.yamap-contacts {
  position: relative;
  z-index: 9999;
}

.yamap-contacts__contacts {
  background-color: #ffffff;
  border: 2px solid #2b94c6;
  bottom: -164px;
  display: inline-block;
  font-size: 18px;
  height: 164px;
  left: calc(50% - 675px);
  line-height: 24px;
  padding-top: 22px;
  position: absolute;
  text-align: center;
  width: 490px;
}

.yamap-contacts__contacts p {
  margin: 0;
}

.block-countries h2 {
  background-color: #2b94c6;
  color: #ffffff;
  display: block;
  font-size: 48px;
  line-height: 72px;
  margin: 0 auto;
  margin-bottom: 60px;
  text-align: center;
  text-transform: uppercase;
  width: 934px;  
}

.block-countries__country-name {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  padding-top: 95px;
  line-height: 1;
  margin-bottom: 27px;
}

/*.block-countries__timeframe,
.block-countries__weight {
  -webkit-background-size: 30px;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 30px;
  height: 32px;
  line-height: 32px;
  margin-bottom: 13px;
  padding-left: 40px;
  padding-top: 3px;
}

.block-countries__timeframe span,
.block-countries__weight span {
  font-weight: 700;
}

.block-countries__weight {
  background-image: url(/src/img/icon-weight.svg);
}

.block-countries__timeframe {
  background-image: url(/src/img/icon-time.svg);
}*/

.block-countries__country {
  background-color: #ffffff;
  background-position: 0 0;
  background-repeat: no-repeat;
  border: 1px solid var(--color-theme);
  display: inline-block;
  height: 230px;
  padding-left: 5px;
  position: relative;
  width: 120px;
}

.block-countries__country_china {
  background-image: url(/src/img/bg-country_china.png); 
}

.block-countries__country_usa {
  background-image: url(/src/img/bg-country_usa.png);
}

.block-countries__country_korea {
  background-image: url(/src/img/bg-country_korea.png);
}

.block-countries__country_japan {
  background-image: url(/src/img/bg-country_japan.png);
}

.block-countries__country_malaysia {
  background-image: url(/src/img/bg-country_mal.png);
}

.block-countries__country_sing {
  background-image: url(/src/img/bg-country_sing.png);
}

.block-countries__country_indonesia {
  background-image: url(/src/img/bg-country_indonesia.png);
}

.block-countries__country_thai {
  background-image: url(/src/img/bg-country_thai.png);
}

.block-countries__country_phil {
  background-image: url(/src/img/bg-country_phil.png);
}

.block-countries__country_australia {
  background-image: url(/src/img/bg-country_australia.png);
}
